@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 20px;
}
.col-md-3 {

    background:mediumseagreen;
    margin-top: -19px;
    left: -12px;
    display: flex;
    width: 352px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.drag-area{
  border: 2px dashed #fff;
  height: 324px;
  width: 700px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.drag-area.active{
  border: 2px solid #fff;
}

.drag-area .icon{
  font-size: 100px;
  color: #fff;
}

.drag-area header {
        font-size: 19px;
        font-weight: 500;
        color: #fff;
}

.drag-area span{
    font-size: 19px;
    font-weight: 500;
    color: #fff;
    margin: 10px 0 15px 0;
}

.drag-area img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.btn-primary {
    color: #2e6da4;
    background-color: #ffffff;
    border-color: #2e6da4;
}

.btn-primary:hover {
    color: #fff;
    background-color: mediumseagreen;
    border-color: mediumseagreen;
}


.submit {
    top: 523px;
    position: absolute;
}

.header{
background:#cf812d;
color:white;
border-radius: 5px;
}


table{

}

.rows{
background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.1);
box-sizing: border-box;
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
border-radius: 5px;
}

.myBox {
    margin: auto;
    border: 8px black;
    padding: 2px;
    font: 12px/15px sans-serif;
    width: auto;
    height: 564px;
    overflow: scroll;
}

.scrollbar-primary::-webkit-scrollbar {
width: 7px;
height:7px;
background-color: #F5F5F5;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #cf812d;
}

button.predictbtn {
background: #008AD8;
    color: white;
    width:60px;
    border-block-style: none;
    position: relative;
    left: 760px;
    top: 12px;
    border-style: none;
    cursor: pointer;
}
select.selectprediction {
background: #008AD8;
color:white;
 border-block-style: none;
    position: relative;
    left: 754px;
    top: 12px;
    border-style: none;
    cursor: pointer;
}
option:hover {
    background: white;
    cursor: pointer;
}

#inner {
    position: relative;
    top: 252px;
    left: 171px;
    margin: 0 auto;
    border: 1px solid black;
    background-color: peru;
    width: 59%;
}

#outer {
  padding: 250px 100px;
  border: 1px solid red;
  width:100%
}

.score_data{
margin-center: 500px;
display : flex;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 20px;
}

/* Bar Graph Horizontal */
.bar-graph .score {
  -webkit-animation: fade-in-text 2.2s 0.1s forwards;
  -moz-animation: fade-in-text 2.2s 0.1s forwards;
  animation: fade-in-text 2.2s 0.1s forwards;
  opacity: 0;
}

.bar-graph-horizontal {
  max-width: 380px;
}

.bar-graph-horizontal > div {
    float: right;
    margin-bottom: 16px;
    width: 491%;
    margin-right: 1px;
    left: 216px;
    position: relative;
}

.bar-graph-horizontal .score {
    float: left;
    width: 612px;
    left: 342px;
}

.bar-graph-horizontal .bar {
  border-radius: 3px;
  height: 55px;
  float: left;
  overflow: hidden;
  position: relative;
  width: 0;
}

.bar-graph-one .bar::after {
  -webkit-animation: fade-in-text 2.2s 0.1s forwards;
  -moz-animation: fade-in-text 2.2s 0.1s forwards;
  animation: fade-in-text 2.2s 0.1s forwards;
  color: #fff;
  content: attr(data-percentage);
  font-weight: 700;
  position: absolute;
  right: 16px;
  top: 17px;
}

.bar-graph-one .bar-one .bar {
  background-color: #58bf80;
  -webkit-animation: show-bar-one 1.2s 0.1s forwards;
  -moz-animation: show-bar-one 1.2s 0.1s forwards;
  animation: show-bar-one 1.2s 0.1s forwards;
}
/* Bar Graph Horizontal Animations */
@-webkit-keyframes show-bar-one {
  0% {
    width: 0;
  }
  100% {
    width: 69.6%;
  }
}

@-webkit-keyframes show-bar-two {
  0% {
    width: 0;
  }
  100% {
    width: 71%;
  }
}

@-webkit-keyframes show-bar-three {
  0% {
    width: 0;
  }
  100% {
    width: 74.7%;
  }
}

@-webkit-keyframes show-bar-four {
  0% {
    width: 0;
  }
  100% {
    width: 76.8%;
  }
}

@-webkit-keyframes fade-in-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.form-control {
    position: relative;
    float: right;
    left: -34px;
    width: 12%;
    height: 34px;
    padding: 0px 7px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}
.btn-group-sm>.btn, .btn-sm {
    background:#cf812d;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.progress-bar {
    float: left;
    width: 0%;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #c26396;
    -webkit-box-shadow: inset 0 -1px 0 rgb(0 0 0 / 15%);
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 15%);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}