<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width" , initial-scale=1.0">

    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/static/style.css"/>
    <link rel="stylesheet" href="/static/predict.css"/>
    <title>Defect Predictor</title>
    </head>
<body>
<form class="" action="read-excel" method="POST" enctype="multipart/form-data">
    <div class="col-md-3">
        <div class="drag-area">
            <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
            <header>Drag & Drop to Upload File</header>
            <span>OR</span>
            <!--          <button>Browse File</button>-->
            <input type="file" id= "abc" name="upload-file" value="Browse File" class="upload"/>
            <input class="btn btn-primary submit" type="submit" name="" value="Submit"/>
        </div>
    </div>
</form>
<div class="score_data">
    <section class="bar-graph bar-graph-horizontal bar-graph-one">
      <div class="bar-one progress score">
        <span class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Model Score</span>
        <div class="bar progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">{{score}}</div>
      </div>
    </section>
</div>

<!--    <script src="script.js"></script>-->
<div class="myBox scrollbar-primary" >
<div class="col-xl-8">
    <table class="table table-stripped">
        <tr class="header">
            {% for header in headings %}
            <th> {{ header }}</th>
            {% endfor %}
        </tr>

        {% for row in data %}
        <tr class="rows">
            {% for cell in row %}
            <td>
                {{ cell }}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}

    </table>
    <!--      {{ data | safe}}-->
</div>
</div>
</body>
</html>
